.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  height: 100%;
  border-right: 2px solid #ff0505;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
