.sidebar {
  height: 100dvh;
  border-right: 1px solid var(--color-accent);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-surface);
  color: var(--color-text);
  overflow-y: auto;
}
