.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  color: var(--color-text);
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-surface-2);
  border: 1px solid var(--color-border);
  border-radius: 50%;
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: white;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: var(--color-link);
  border-color: var(--color-link);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--color-text);
}

.line {
  margin-top: 3rem;
  border-color: var(--color-border);
}
